@font-face {
    font-family: 'Kaushan Script';
    src: url('resources/fonts/KaushanScript-Regular.woff2') format('woff2'),
        url('resources/fonts/KaushanScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0px;
}

#dark-banner {
    background-color: rgb(0, 0, 0, 0.5);
    position: relative;
    top:30%;
    height: 120px;
    text-align: center;
}

#logo {
    font-family: 'Kaushan Script';
    color: white;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2em;
}

#logo>* {
    align-content: center;
    /* flex: 1 1 0; */
} 

.flex-container {
    display: flex;
}

#main-container {
    height: 100vh;
    align-items: stretch;
}

#form-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#right-side>form {
    /* position: relative;
    right: 40px; */
    padding:0px;
    
}

input {
    border: 3px solid transparent;
    width: 220px;
}

input:focus {
    border: 3px solid rgba(72, 255, 0, 0.5);
}

fieldset {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.5);
    background-color: whitesmoke;
}

#form-container>p {
    flex-basis: 30%;

}

#left-side {
    flex: 1 1 0;
    background-image: url(resources/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

#right-side {
    flex: 2 1 0;
    background-color: rgba(145, 67, 46, 0.463);
}

#right-side>* {
    padding: 10px 30px;
}

button {
    margin: 50px;
    background-color: #6b945cdc;
    color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}